@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");

.text p {
	font-family: 'Gloria Hallelujah', cursive;
}

.sticky-note {
	position: absolute;
	padding: 1em;
	margin: 0 30px 30px 0;
	box-shadow: 5px 5px 10px -2px rgba(0, 0, 0, 0.3);
	z-index: 1;
}

.sticky-note:hover {
	cursor: grab;
}

.sticky-note:active {
	cursor: grabbing;
}

textarea {
	background-color: transparent;
	border: none;
	resize: both;
	font-family: 'Gloria Hallelujah', cursive;
	width: 100%;
	min-width: 250px;
	min-height: 80px;
	padding: 5px;
	font-size: 12pt;

	scrollbar-color: #96998f transparent;
	scrollbar-width: thin;
}

textarea:focus {
	outline: none;
	border: none;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2) inset;
}


/* COLOR PICKER */
.sticky-note:hover .color-picker-container,
.sticky-note:hover .delete-container {
	display: initial;
}

.color-picker-container {
	display: none;
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: -2.5rem;
	top: 0.5rem;

	cursor: pointer;
	box-shadow: 1px 1px 8px rgb(165, 165, 165);
	border: 5px black solid;
	border-radius: 50%;
}

.color-picker-container:hover .color-palette {
	display: flex;
}

.color-picker-container .color-palette {
	display: none;
	padding: 5px;
	position: absolute;
	left: -9rem;
	top: -5px;
	width: 10rem;
	height: fit-content;
	flex-wrap: wrap;
	justify-content: left center;

	box-shadow: 1px 1px 4px rgb(165, 165, 165);
	background-color: white;
}

.color-picker-container .color-palette span {
	margin: 1px;
	width: 3rem;
	height: 3rem;
}

.color-picker-container .color-palette span:hover {
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.8) inset;
}

/* Color Palette */
.color-palette span:nth-child(1) {
	background-color: #ffa0a0;
}
.color-palette span:nth-child(2) {
	background-color: #bd93f9;
}
.color-palette span:nth-child(3) {
	background-color: #f1fa8c;
}
.color-palette span:nth-child(4) {
	background-color: #50fa7b;
}
.color-palette span:nth-child(5) {
	background-color: #8be9fd;
}
.color-palette span:nth-child(6) {
	background-color: #d8dee9;
}

/* Delete */
.delete-container {
	display: none;
	width: 2rem;
	height: 2rem;
	position: absolute;
	right: -1rem;
	top: -1rem;

	font-weight: bold;
	text-align: center;
	cursor: pointer;
	box-shadow: 1px 1px 8px rgb(165, 165, 165);
	background-color: red;
	border: 5px black solid;
	border-radius: 50%;
}

/* Voting */
.likes {
	width: fit-content;
	height: fit-content;
	text-align: center;
	cursor: pointer;
	color: #000;
}

.likes:hover {
	color: rgb(200, 200, 200);
}
